h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    border-radius: 2%;
    background-color: rgb(209, 202, 188);
    padding: 10%
    
    
}

body {
    background-color: rgb(176, 180, 142);
    text-align: center;
}

h2 {
     font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    border-radius: 2%;
  
    padding: 20px;
    
}

  
